body
{
    width:100%;
    font-size: 12px;
    color: black;
    font-family: 'Open Sans';
    display: flex;
}
div 
{
     box-sizing: border-box;
}

#mainContent {
    height:100%;
    width:100%;
    flex: 8 1;
}

#navigationMenu {
    flex: 1 1;
    z-index:666;
    background-color: indianred;
    border-bottom:1px solid black;
    height: 100%;
    width:100px;
    color: white;
    font-weight: bold;
}

#navigationMenu .topMenuItem {
    float:left;
    margin:9px;
    width:100%;
}

#favourite {
    height: 30px;
    line-height: 30px;
    width:calc(100% - 6px) !important;
    margin: 3px !important;
    background-color: orange;
    text-align: center;
    border-radius: 3px;
    margin-left: 3px;
}

#addtoplan {
    height: 30px;
    line-height: 30px;
    width:calc(100% - 6px) !important;
    margin: 3px !important;
    background-color: #5cb85c;
    text-align: center;
    border-radius: 3px;
    margin-left: 3px;
}

.defaultButton {
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
}

.greenBackground {
    background-color: #5cb85c;
}

.greenBackground:hover {
    background-color: #1ca81c;
}